.image {
  height: 200px;
  overflow: hidden;
  & img {
    object-fit: cover;
  }
}
.textBox {
  display: flex;
  flex-direction: column;
  align-content: center;

  padding: 25px;
}

.date {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  opacity: 0.6;
}
.link {
  margin-top: 20px;

  color: #363636;

  font-weight: 700;
  text-decoration: none;
  &:hover,
  &:focus {
    color: lightgrey;
  }
}
