.card {
  border: 1px solid #eaeaea;

  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  height: 100%;
  overflow: hidden;

  & .link {
    display: block;
    margin-top: auto;

    color: #363636;

    font-weight: 700;
    text-decoration: none;
    &:hover,
    &:focus {
      color: lightgrey;
    }
  }
}
.image {
  height: 200px;
  overflow: hidden;
  & img {
    object-fit: cover;
  }
}
.textBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  // height: inherit;
  padding: 25px;
  & h2 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.2;
  }
}
.summary {
  height: 100px;
  overflow-y: auto;
}
.date {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;

  font-size: 14px;
  opacity: 0.6;
}
